@import "vars";
@import "libs";
@import "fonts";
@import "media";
@import "header";
@import "section_1";

// ---------------- Display --------------------------
html {
    margin: 0;
    color: #222;
    font-weight: 300;
    font-family: "Raleway";
}

body{
    background-color: #5052d0;
}

header{
    width:100%;
    height: 100vh;
    min-height: 800px;
}

h1 {
    color: #fff;
    font-family: FiraSans_medium;
    font-size: 5rem;
}

p {
    line-height: 40px;
    font-size: 16px;
    font-family: "Crimson Text";
    color: #222;
}
// ---------------- Display --------------------------

.sect0_title{
    padding: 100px 0 100px 0;
    @include margin_left_base($marg_l_b);
    color: #fff;
    font-family: FiraSans_light;
    font-size: 30px;
}




